<template>
<div>
	<div class="panel panel-default">
		<div class="panel-heading">Listados de Posts</div>
		<div class="panel-body">
			<table class="table table-bordered table-striped">
			<thead>
				<tr>
				  <th>Titulo</th>
				  <th>Autor</th>
                  <th>Etiquetas</th>
				</tr>
			</thead>
			<tbody>
                <tr v-for="post in posts.data" :key="post.id">
                    <td><a :href="post.slug">{{ post.title }}</a></td>
                    <td>{{ post.user.name }}</td>
                    <td>
                       <span v-for="tag in post.tags" :key="tag.id">
                           {{ tag.name }}
                       </span> 
                    </td>                  
                </tr>
			</tbody>
			</table>

        <div class="card-footer">
                  <pagination :data="posts" @pagination-change-page="getResults"></pagination>
        </div>

	    </div>
        </div>
        
    </div>
    </div>
</template>
<style>
.project-title {
    margin: 0;
}
.panel-heading > h4 {
    margin:0;
    position: relative;
    top: 6px;
}
</style>
<script>
    export default {
        data() {
            return {
                posts: {}
                }
        },
        mounted() {
            var app = this;
            this.$Progress.start();
            app.loadPosts();

        },
        methods: {
            getResults(page = 1) {
                axios.get('/getPosts?page=' + page)
                    .then(resp => {
                        this.posts = resp.data;
                        this.$Progress.finish();
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        swal('Could not load posts');
                        //alert("Could not load tasks");
                    });
            },
            loadPosts(){
                    axios.get("/getPosts").then(({ data }) => (this.posts = data));
            },

        }
    }
</script>