<template>
<div>
	<div class="panel panel-default">
        <div class="panel-heading">
            <h1>{{ posts.title +' Posted by: ' + posts.user.name }}</h1>
        </div>
		<div class="panel-body">
            			
        <p>{{ posts.body }}</p>
        <p v-if="posts.tags">
            <span class="btn btn-sm btn-success" v-for="tag in posts.tags" :key="tag.id" style="margin-right:10px;">
                           {{ tag.name }}
            </span> 
        </p>

	    </div>
        </div>
        
    </div>

</template>
<style>
.project-title {
    margin: 0;
}
.panel-heading > h4 {
    margin:0;
    position: relative;
    top: 6px;
}
</style>
<script>
    export default {

        data() {
            return {
                posts: {}
                }
        },
        mounted() {
            var app = this;
            let slug = window.location.pathname;

            app.slug = slug;
             axios.get("/getPostBySlug"+app.slug).then(({ data }) => (this.posts = data));

        },
        methods: {

        }
    }
</script>